@(fmSale:Form[Sale],moList:List[mo1])
@import helper._
<div class="alert alert-secondary">
    <center><h1 class="text-dark"><strong>LAB 12 Update</strong></h1>
        <h5>Please fill out the form</h5></center>
</div>

<div class="col-sm9">
    <div class="col-sm-45">
        <div class="container-fluid">
            <div>
@helper.form(action=routes.Application.getLab12update()){
@inputText(fmSale("id_sale"), '_label -> "รหัสขาย", 'required->"required",'placeholder -> "ป้อนใส่รหัส",'readOnly -> "readOnly")
@inputText(fmSale("name"), '_label -> "ชื่อ - สกุล", 'required->"required",'placeholder -> "ชื่อ - สกุล")
@inputText(fmSale("address"), '_label -> "ที่อยู่", 'required->"required",'placeholder -> "ที่อยู่")
@inputText(fmSale("tele"), '_label -> "เบอร์โทรศัพท์", 'required->"required",'placeholder -> "เบอร์โทรศัพท์")
@inputRadioGroup(fmSale("dep"), options=Seq("Member"->"1 : Member","No Member  "-> "2 : No Member"), '_label -> "สมาชิก")
@select(fmSale("mo.id"),options = moList.map(mo=>mo.getId()->mo.getNamepro()), '_label->"TV")
                <input type="submit" value="Save" class="btm btn-dark">
                <input type="reset" value="Reset" class="btm btn-dark">
                <a href="/showPageLab12/1  "  class="btn btn-dark" style="font-size: 20px;">กลับ</a>
            </div>
        </div>
    </div>
</div>
}

