@(myre : resume )
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume</title>
</head>
<body>
<div class="album py-5 bg-light">
<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-4">
            <h1>Photo of Me</h1>
            <br>
            <img src="https://scontent.fbkk18-1.fna.fbcdn.net/v/t1.6435-9/158831068_2972459853024429_6928801523350566414_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=8bfeb9&_nc_eui2=AeF2078Pm3iKc3wSUNHIXSGVXZ7pamdzT0hdnulqZ3NPSNwbf7UW3JO6jJmYA6aQlkmClLQ0ummKHfrkeZ-t2kew&_nc_ohc=lf5XzBOXL7kAX-7dFte&_nc_ht=scontent.fbkk18-1.fna&oh=3447eebb00c658ca9b32bdf4c1577e2a&oe=614EFBC5" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
            <br />
        </div>
        <div class="col-sm9">
            <div class="col-sm-40">

    <h1>My Profile</h1>
                <table>
                    <tr>
                        <td>Name : </td><td>@myre.getName</td>
                    </tr>
                    <tr>
                        <td>Nick Name : </td><td>@myre.getNickname</td>
                    </tr>
                    <tr>
                        <td>Facebook : </td><td>@myre.getFace</td>
                    </tr>
                    <tr>
                        <td>STD ID : </td><td>@myre.getS_ID</td>
                    </tr>
                    <tr>
                        <td>Class year : </td><td>@myre.getCClass</td>
                    </tr>
                    <tr>
                        <td>Branch : </td><td>@myre.getBranch</td>
                    </tr>
                    <tr>
                        <td>faculty : </td><td>@myre.getGroup</td>
                    </tr>
                    <tr>
                        <td>Academy : </td><td>@myre.getStudy</td>
                    </tr>
                    <tr>
                        <td>ID Card : </td><td>@myre.getID_card</td>
                    </tr>
                    <tr>
                        <td>Birth Day : </td><td>@myre.getBirthday</td>
                    </tr>
                    <tr>
                        <td>Ethnicity : </td><td>@myre.getEthnicity</td>
                    </tr>
                    <tr>
                        <td>Weight : </td><td>@myre.getWeight</td>
                    </tr>
                    <tr>
                        <td>Height : </td><td>@myre.getHeight</td>
                    </tr>
                    <tr>
                        <td>Locality : </td><td>@myre.getCanton</td>
                    </tr>
                    <tr>
                        <td>District : </td><td>@myre.getDistrict</td>
                    </tr>
                    <tr>
                        <td>Province : </td><td>@myre.getProvince</td>
                    </tr>
                    <tr>
                        <td>Postal code : </td><td>@myre.getZIP_code</td>
                    </tr>
                    <tr>
                        <td>Email : </td><td>@myre.getEmail</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</html>