<div class="list-group" align="center" style="padding: 10px ;">
    <a href="/#" class="list-group-item list-group-item-action list-group-item-dark">Home</a>
    <a href="/product" class="list-group-item list-group-item-action list-group-item-secondary">XIAOMI Air Purifier</a>
    <a href="/test" class="list-group-item list-group-item-action list-group-item-secondary">NoteBook Gaming</a>
    <a href="/meme" class="list-group-item list-group-item-action list-group-item-secondary">Resume</a>

    <a href="/lab7" class="list-group-item list-group-item-action list-group-item-secondary">TV Form</a>
    <a href="/lab8" class="list-group-item list-group-item-action list-group-item-secondary">Helper Form</a>
    <a href="/lab9show" class="list-group-item list-group-item-action list-group-item-secondary">List Page</a>
    <a href="/lab10show" class="list-group-item list-group-item-action list-group-item-secondary">Show Product Table </a>
    <a href="/lab11show" class="list-group-item list-group-item-action list-group-item-secondary">Add Product</a>
    <a href="/showPageLab12/1" class="list-group-item list-group-item-action list-group-item-secondary">Model</a>
</div>

